<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 로드하려는 템플릿 파일이 특정 폴더 안에 있을 경우 -->
<!-- 폴더명/템플릿파일명 으로 불러옴 -->
<head th:replace="layout/htmlHead :: head"></head>

<body>
	<header th:replace="layoutHeader :: header"></header>
	
	<main class="container">
		<section class="row">
			<div class="col-sm-6 mx-auto">
				<table th:replace="layoutMain :: main"></table>
				<table th:replace="layoutMain :: main"></table>
			</div>
		</section>
	</main>
	
	<footer th:replace="layoutFooter :: footer"></footer>
</body>
</html>








