<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>thymeleaf 테스트 페이지</h3>
	
	<div>
		<p>변수 사용 ${...}</p>
		<p th:text="${value1}">기본 문자열</p>
		<p th:text="${value2}">기본 문자열</p>
		<p th:text="#{msg.name}"></p>
		<p th:text="#{msg.tel}"></p>
		<p th:text="#{msg.welcome}"></p>
		
		<h3>고정값 속성 사용</h3>
		<div>
			<input type="text"><br>
			<input type="text" disabled th:disabled="${active}"><br>
		</div>
		<hr>
		<h3>반복문 사용</h3>
		<div>
			<table border="1">
				<tr>
					<th>ID</th>
					<th>Password</th>
					<th>이름</th>
					<th>이메일</th>
				</tr>
				<tr th:each="item : ${members}">
					<td th:text="${item.userId}">
					<td th:text="${item.userPw}">
					<td th:text="${item.userName}">
					<td th:text="${item.userEmail}">
				</tr>
			</table>
			<div th:each="member : ${members}">
				<p th:text="${member.userId}"></p>
				<p th:text="${member.userPw}"></p>
				<p th:text="${member.userName}"></p>
				<p th:text="${member.userEmail}"></p>
			</div>
			<hr>
			<div th:each="item, itemStat : ${members}">
				<p th:text="${'index : ' + itemStat.index}"></p>
			</div>
			<div th:each="item, itemStat : ${members}">
				<p th:text="${'count : ' + itemStat.count}"></p>
				<p th:text="${'size : ' + itemStat.size}"></p>
				<p th:text="${'current : ' + itemStat.current}"></p>
				<p th:text="${'first : ' + itemStat.first}"></p>
				<p th:text="${'last : ' + itemStat.last}"></p>
				<p th:text="${'even : ' + itemStat.even}"></p>
				<p th:text="${'odd : ' + itemStat.odd}"></p>
			</div>
		</div>
	</div>
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>











